# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Docker
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
